{% extends "pools/base.html" %}
{% block title_page %}
    question
{% endblock title_page %}

{% block body %}
	<div class="col-lg-12">
		<div class="panel panel-default">
			{% if questions.count > 0 %}
			<div class="panel heading">
				Questões fechadas
			</div>
				{% for question in questions %}
					<strong>{{ question }}</strong>
					{% if question.closed == True %}
				        <p><a href="{% url 'status' question.id %}">Abrir questao</a></p>
				    {% else%}
				        <p><a href="{% url 'status' question.id %}">Fechar questao</a></p>
				        <p><a href="{% url 'escolher' question.id%}">Responder</a></p>
				     {% endif %}
					<p><a href="{% url 'results' question.id %}" >Resultados</a></p>
					
					
				{% endfor %}
			{% elif question%}
				<div class="panel heading">
				<strong>{{question}}</strong>
				</div>
				{% if question.closed == True %}
				        <p><a href="{% url 'status' question.id %}">Abrir questao</a></p>
				    {% else%}
				        <p><a href="{% url 'status' question.id %}">Fechar questao</a></p>
				     {% endif %}
					<p><a href="{% url 'results' question.id %}" >Resultados</a></p>
					
					<p><a href="{% url 'escolher' question.id%}">Responder</a></p>
			{% else %}
				<p>Não existem questões fechadas</p>
			{% endif %}
		</div>
	</div>
{% endblock %}